.auth-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 600px;
    margin: 50px auto;
}
.auth-container .logo-container {
    display: flex;
    justify-content: center;
    width: 100%;
    font-family: 'SF UI Display Ultralight', sans-serif;
    font-size: 2.5rem;
    color: #fafafa;
    margin: 15px auto;
}
.logo-container .auth-logo {
    width: 100%;
    max-width: 175px;
    height: 100px;
    background-image: url(../../assets/img/auth-logo.png);
    -webkit-background-size: contain;
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
}
.auth-container .auth-signIn-container,
.auth-container .auth-signUp-container {
    width: 100%;
    margin: 15px auto;
    padding: 10px;
}
.auth-signIn-container .regForm,
.auth-signUp-container .regForm {
    display: flex;
    flex-direction: column;
    color: #fafafa;
    font-size: 1.25rem;
    font-family: 'SF UI Display Light', sans-serif;
}
.regForm h4 {
    text-align: center;
    font-size: 1.7rem;
    font-family: 'SF UI Display Thin', sans-serif;
    margin: 5px 0 20px 0;
}
.regForm .form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #B0B0B0;
    background-color: rgba(37, 37, 37, 0.45);
    background-clip: padding-box;
    border: 1px solid #343434;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    margin: 7px 0 20px 0;
}
.regForm .form-control:focus {
    outline: 0;
    border-color: rgba(81, 253, 186, .5);
    box-shadow: 0 0 0 0.21rem rgba(81, 253, 186, .25);;
}
.regForm .form-buttons-container {
    width: 100%;
    max-width: 270px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 25px auto;
}
.form-buttons-container button {
    margin: .375rem;
    color: #000000;
    text-transform: uppercase;
    word-wrap: break-word;
    white-space: normal;
    cursor: pointer;
    border: 0;
    border-radius: .125rem;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
    background-color: rgba(81, 253, 186, .95);
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    padding: .84rem 2.14rem;
    font-size: 1rem;
}
.form-buttons-container button:hover {
    outline: 0;
    box-shadow: 0 5px 11px 0 rgba(81,253,186,.16), 0 4px 15px 0 rgba(81,253,186,.13);
}
.form-buttons-container a {
    color: #fafafa;
    text-decoration: none;
    transition: .3s;
}
.form-buttons-container a:hover {
    color: #B0B0B0;
}
@media screen and (max-width: 450px) {
    .auth-container .logo-container {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
}