@font-face {
  font-family: 'Lato-Black';
  src: url('assets/fonts/Lato-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'SF UI Display Medium';
  src: url('assets/fonts/SFUIDisplay-Medium.eot');
  src: local('SF UI Display Medium'), local('SFUIDisplay-Medium'),
  url('assets/fonts/SFUIDisplay-Medium.eot?#iefix') format('embedded-opentype'),
  url('assets/fonts/SFUIDisplay-Medium.woff') format('woff'),
  url('assets/fonts/SFUIDisplay-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'SF UI Display Regular';
  src: url('assets/fonts/SFUIDisplay-Regular.eot');
  src: local('SF UI Display Regular'), local('SFUIDisplay-Regular'),
  url('assets/fonts/SFUIDisplay-Regular.eot?#iefix') format('embedded-opentype'),
  url('assets/fonts/SFUIDisplay-Regular.woff') format('woff'),
  url('assets/fonts/SFUIDisplay-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SF UI Display Light';
  src: url('assets/fonts/SFUIDisplay-Light.eot');
  src: local('SF UI Display Light'), local('SFUIDisplay-Light'),
  url('assets/fonts/SFUIDisplay-Light.eot?#iefix') format('embedded-opentype'),
  url('assets/fonts/SFUIDisplay-Light.woff') format('woff'),
  url('assets/fonts/SFUIDisplay-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'SF UI Display Thin';
  src: url('assets/fonts/SFUIDisplay-Thin.eot');
  src: local('SF UI Display Thin'), local('SFUIDisplay-Thin'),
  url('assets/fonts/SFUIDisplay-Thin.eot?#iefix') format('embedded-opentype'),
  url('assets/fonts/SFUIDisplay-Thin.woff') format('woff'),
  url('assets/fonts/SFUIDisplay-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'SF UI Display Ultralight';
  src: url('assets/fonts/SFUIDisplay-Ultralight.eot');
  src: local('SF UI Display Ultralight'), local('SFUIDisplay-Ultralight'),
  url('assets/fonts/SFUIDisplay-Ultralight.eot?#iefix') format('embedded-opentype'),
  url('assets/fonts/SFUIDisplay-Ultralight.woff') format('woff'),
  url('assets/fonts/SFUIDisplay-Ultralight.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'SF UI Text Semibold';
  src: url('assets/fonts/SFUIText-Semibold.eot');
  src: local('SF UI Text Semibold'), local('SFUIText-Semibold'),
  url('assets/fonts/SFUIText-Semibold.eot?#iefix') format('embedded-opentype'),
  url('assets/fonts/SFUIText-Semibold.woff') format('woff'),
  url('assets/fonts/SFUIText-Semibold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'SF UI Display Semibold';
  src: url('assets/fonts/SFUIDisplay-Semibold.eot');
  src: local('SF UI Display Semibold'), local('SFUIDisplay-Semibold'),
  url('assets/fonts/SFUIDisplay-Semibold.eot?#iefix') format('embedded-opentype'),
  url('assets/fonts/SFUIDisplay-Semibold.woff') format('woff'),
  url('assets/fonts/SFUIDisplay-Semibold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'SF UI Text Regular';
  src: url('assets/fonts/SFUIText-Regular.eot');
  src: local('SF UI Text Regular'), local('SFUIText-Regular'),
  url('assets/fonts/SFUIText-Regular.eot?#iefix') format('embedded-opentype'),
  url('assets/fonts/SFUIText-Regular.woff') format('woff'),
  url('assets/fonts/SFUIText-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SF UI Display Black';
  src: url('assets/fonts/SFUIDisplay-Black.eot');
  src: local('SF UI Display Black'), local('SFUIDisplay-Black'),
  url('assets/fonts/SFUIDisplay-Black.eot?#iefix') format('embedded-opentype'),
  url('assets/fonts/SFUIDisplay-Black.woff') format('woff'),
  url('assets/fonts/SFUIDisplay-Black.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'SF UI Text Bold';
  src: url('assets/fonts/SFUIText-Bold.eot');
  src: local('SF UI Text Bold'), local('SFUIText-Bold'),
  url('assets/fonts/SFUIText-Bold.eot?#iefix') format('embedded-opentype'),
  url('assets/fonts/SFUIText-Bold.woff') format('woff'),
  url('assets/fonts/SFUIText-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'SF UI Display Heavy';
  src: url('assets/fonts/SFUIDisplay-Heavy.eot');
  src: local('SF UI Display Heavy'), local('SFUIDisplay-Heavy'),
  url('assets/fonts/SFUIDisplay-Heavy.eot?#iefix') format('embedded-opentype'),
  url('assets/fonts/SFUIDisplay-Heavy.woff') format('woff'),
  url('assets/fonts/SFUIDisplay-Heavy.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'SF UI Text Light';
  src: url('assets/fonts/SFUIText-Light.eot');
  src: local('SF UI Text Light'), local('SFUIText-Light'),
  url('assets/fonts/SFUIText-Light.eot?#iefix') format('embedded-opentype'),
  url('assets/fonts/SFUIText-Light.woff') format('woff'),
  url('assets/fonts/SFUIText-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'SF UI Text Heavy';
  src: url('assets/fonts/SFUIText-Heavy.eot');
  src: local('SF UI Text Heavy'), local('SFUIText-Heavy'),
  url('assets/fonts/SFUIText-Heavy.eot?#iefix') format('embedded-opentype'),
  url('assets/fonts/SFUIText-Heavy.woff') format('woff'),
  url('assets/fonts/SFUIText-Heavy.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'SF UI Text Medium';
  src: url('assets/fonts/SFUIText-Medium.eot');
  src: local('SF UI Text Medium'), local('SFUIText-Medium'),
  url('assets/fonts/SFUIText-Medium.eot?#iefix') format('embedded-opentype'),
  url('assets/fonts/SFUIText-Medium.woff') format('woff'),
  url('assets/fonts/SFUIText-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'SF UI Display Bold';
  src: url('assets/fonts/SFUIDisplay-Bold.eot');
  src: local('SF UI Display Bold'), local('SFUIDisplay-Bold'),
  url('assets/fonts/SFUIDisplay-Bold.eot?#iefix') format('embedded-opentype'),
  url('assets/fonts/SFUIDisplay-Bold.woff') format('woff'),
  url('assets/fonts/SFUIDisplay-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

html {
  font-size: 16px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
  "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
  sans-serif;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #141414;
  font-family: 'SF UI Display Regular', sans-serif;
  user-select: none;
  overflow-x: hidden;
}

/* width */
body::-webkit-scrollbar {
  background-color: #323232;
  width: 5px;
}

/* Track */
body::-webkit-scrollbar-track {
  background-color: rgba(36, 36, 36, 0.95);
}

/* Handle */
body::-webkit-scrollbar-thumb {
  background-color: #323232;
  border-radius: 16px;
  /*border: 1px solid #323232;*/
}

/* Handle on hover */
body::-webkit-scrollbar-thumb:hover {
  background-color: #B0B0B0;
  /*border: 1px solid #323232;*/
}

body::-webkit-scrollbar-button {
  display:none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
  monospace;
}

.container {
  display: flex;
  position: relative;
}